In [3]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [6]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [ ]:
pip uninstall prettytable

Found existing installation: prettytable 3.12.0
Uninstalling prettytable-3.12.0:
  Would remove:
    /opt/anaconda3/lib/python3.12/site-packages/prettytable-3.12.0.dist-info/*
    /opt/anaconda3/lib/python3.12/site-packages/prettytable/*
Proceed (Y/n)?

## Creating an Asset Table to Reflect Total Profit and Loss
## The objective is to create an Asset table that captures the total profit and loss for all transactions classified as assets. This table should include the following details:
## Total Balance: Reflecting the sum of amounts for each transaction type over the course of the last two years.
## Profit/Loss Status: Indicating whether the balance for each transaction type is in profit or at a loss

In [9]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "assets" already exists

[SQL: CREATE TABLE ASSETS AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY
    transaction_description;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [67]:
%%sql
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    ) 
AND EXTRACT(YEAR FROM record_date) = 2021 
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
12 rows affected.

[('ATM PAYMENT FR', 0.0, 84500.0, 84500.0, 'LOSS'),
 ('BAD DEBT W/OFF', 0.0, 2390.52, 2390.52, 'LOSS'),
 ('CASHSEND ATM', -71760.0, 0.0, -71760.0, 'PROFIT'),
 ('CASHSEND DIGITAL', -802420.0, 0.0, -802420.0, 'PROFIT'),
 ('CASHSEND MOBILE', -37760.0, 0.0, -37760.0, 'PROFIT'),
 ('CREDIT TRANSFER', 0.0, 692187.86, 692187.86, 'LOSS'),
 ('INTEREST', -1824.4599999999998, 23.410000000000004, -1801.05, 'PROFIT'),
 ('INTEREST ADJUST', -6.960000000000001, 8.57, 1.6100000000000003, 'LOSS'),
 ('INVESTMENT CAPITAL', 0.0, 45991.28, 45991.28, 'LOSS'),
 ('INVESTMNT INTEREST', 0.0, 11400.460000000001, 11400.460000000001, 'LOSS'),
 ('POS CARD REFUND', 0.0, 19619.949999999997, 19619.949999999997, 'LOSS'),
 ('POS O/SEA REFUND', 0.0, 8690.48, 8690.48, 'LOSS')]