In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg3-binary

Note: you may need to restart the kernel to use updated packages.

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B77B568D10>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/psycopg3-binary/
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B77AA26630>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/psycopg3-binary/
WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B77B560920>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/psycopg3-binary/
WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B77B50FF80>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/psycopg3-binary/
WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x000001B77B535B50>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/psycopg3-binary/
ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary

In [3]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\user\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\user\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\user\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

In [5]:
%sql postgresql://postgres:@localhost:5432/absadatabase

Traceback (most recent call last):
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 3300, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\default.py", line 620, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\psycopg2\__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
psycopg2.OperationalError: connection to server at "localhost" (::1), port 5432 failed: fe_sendauth: no password supplied


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "c:\Users\User\anaconda3\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sql\connection.py", line 55, in __init__
    self.internal_connection = engine.connect()
                               ^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 3276, in connect
    return self._connection_cls(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 148, in __init__
    Connection._handle_dbapi_exception_noconnection(
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 2440, in _handle_dbapi_exception_noconnection
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 146, in __init__
    self._dbapi_connection = engine.raw_connection()
                             ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\base.py", line 3300, in raw_connection
    return self.pool.connect()
           ^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 449, in connect
    return _ConnectionFairy._checkout(self)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 1263, in _checkout
    fairy = _ConnectionRecord.checkout(pool)
            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 712, in checkout
    rec = pool._do_get()
          ^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\impl.py", line 179, in _do_get
    with util.safe_reraise():
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\impl.py", line 177, in _do_get
    return self._create_connection()
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 390, in _create_connection
    return _ConnectionRecord(self)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 674, in __init__
    self.__connect()
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 900, in __connect
    with util.safe_reraise():
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\util\langhelpers.py", line 146, in __exit__
    raise exc_value.with_traceback(exc_tb)
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\pool\base.py", line 896, in __connect
    self.dbapi_connection = connection = pool._invoke_creator(self)
                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\create.py", line 643, in connect
    return dialect.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\sqlalchemy\engine\default.py", line 620, in connect
    return self.loaded_dbapi.connect(*cargs, **cparams)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\User\anaconda3\Lib\site-packages\psycopg2\__init__.py", line 122, in connect
    conn = _connect(dsn, connection_factory=connection_factory, **kwasync)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: fe_sendauth: no password supplied

(Background on this error at: https://sqlalche.me/e/20/e3q8)

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
pip uninstall prettytable

In [ ]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "assets" already exists

[SQL: CREATE TABLE ASSETS AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY
    transaction_description;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

## 1. Assets
 Bank Assets is a financial instrument or resource that a bank owns or holds that has value and can be used to generate revenue or provide future economic benefit:

# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity
# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment
## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:** 
The bank gains control of the transferred funds, which increase its cash or cash equivalents
## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.
## 1.5 FOREIGN NOTES
**What It Is:** 
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.
## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
# 
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.

## Why They Are Assets
**Control and Ownership:** The bank has control over these resources, enabling it to decide how they are used (e.g., reinvestment, lending, or funding operations).
#
**Economic Value:** These transactions increase the bank’s pool of resources that can generate income or provide liquidity.
#
**Future Benefits:** Cash inflows and investments are foundational to the bank’s operations, as they support lending activities, investments, and other income-generating processes.

## CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTION CLAASSIFIED AS TRANSACTION FOR 2021/2022

In [ ]:
%%sql
CREATE TABLE ASSET_21_22 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
6 rows affected.

[]

## CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTIONS CLASSIFIED AS ASSET FOR 2021

In [ ]:
%%sql
CREATE TABLE ASSET_2021 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
AND EXTRACT(YEAR FROM record_date) = 2021 
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
3 rows affected.

[]

## UPDATING THE TABLES

In [ ]:
%%sql 
#DROP TABLE ASSET_2021, ASSET_2022

 * postgresql://postgres:***@localhost:5432/absadatabase
Done.

[]

# CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTIONS CLASSIFIED AS ASSET FOR 2022

In [ ]:
%%sql
CREATE TABLE ASSET_2022 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'PROFIT'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
AND EXTRACT(YEAR FROM record_date) = 2022
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "asset_2022" already exists

[SQL: CREATE TABLE ASSET_2022 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'PROFIT'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
AND EXTRACT(YEAR FROM record_date) = 2022
GROUP BY
transaction_description
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

# Total ASSET BALANCE FOR THE YEAR 2021 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2021 FROM asset_2021;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(3945212.79,)]

# Total ASSET BALANCE FOR THE YEAR 2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_2022;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(14876292.350000001,)]

# Total ASSET BALANCE FOR THE YEAR 2021/2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_21_22;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(18821505.139999997,)]

# Assets Transaction classified as assets for the month August 2021/2022

In [ ]:
%%sql
CREATE TABLE ASSET_AUGUST_2021_2022 AS 
SELECT 
    transaction_description, record_date,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'PROFIT'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    ) 
    AND (
        (EXTRACT(YEAR FROM record_date) = 2021 AND EXTRACT(MONTH FROM record_date) = 8) OR
        (EXTRACT(YEAR FROM record_date) = 2022 AND EXTRACT(MONTH FROM record_date) = 8)
    )
GROUP BY
    transaction_description, record_date;

 * postgresql://postgres:***@localhost:5432/absadatabase
118 rows affected.

[]

In [ ]:
%%sql
SELECT 
    transaction_description,sum(balance)
FROM 
    asset_august_2021_2022
GROUP BY
transaction_description, record_date

;

 * postgresql://postgres:***@localhost:5432/absadatabase
Done.

[]

## Transactions that result in the bank earning fees or interest income:

## Transaction Fees/Charges
**1. CHARGES**
#
General fees charged for services like account maintenance, processing transactions, or other operational activities.
##
**Why Revenue?** 
This income is earned as compensation for providing banking services.
##
**2. CHARGES - CLOSURE**
Fees incurred by customers for closing accounts or specific services.
#
**Why Revenue?** Represents the bank's charge for administrative work and opportunity cost associated with account closure.
#
**DIGITAL TRAN FEES**
Fees for digital transactions, such as online transfers or payments.
#
**Why Revenue?** Reflects income earned for maintaining and enabling digital platforms for transactions.
#
**MANAGEMENT FEE**
Charges for managing accounts, investments, or other financial products.
#
**Why Revenue?** This is payment for professional services like overseeing investment portfolios or other financial products.
#
**MANAGEMNT FEE CLSE**
Similar to management fees, but tied to closing an account or service.
#
**Why Revenue?** Compensation for services provided until closure and administrative processing.
#
**REWARDS FEE**
Fees for processing rewards programs or providing loyalty benefits.
#
**Why Revenue?** Banks often monetize rewards programs through a combination of fees and partnerships with merchants.
#
**OD: INITIATION FEE**
A one-time fee for initiating an overdraft facility for a customer.
Why Revenue? Reflects the cost of granting access to additional funds and the risk assessment involved.
OD: LEDGER FEE

Recurring fees for maintaining and monitoring an overdraft ledger.
Why Revenue? It covers administrative costs and is a source of income for offering the overdraft facility.
Interest Income
INTEREST

The primary revenue from loans or credit extended to customers.
Why Revenue? Represents the bank's earnings from lending capital at interest rates higher than the cost of funds.
INTEREST ADJUST

Adjustments to interest calculations, typically to correct previous errors or account for changes in rates.
Why Revenue? Adjustments may result in additional earnings.
INTEREST TO CLOSE

Interest accrued on accounts or loans up to the point of closure.
Why Revenue? Reflects the bank's entitlement to earnings from the use of its capital until the account is closed.
INVESTMNT INTEREST

Income from investments made by the bank in securities, bonds, or other financial instruments.
Why Revenue? Reflects the return on investment capital deployed in various financial markets.
##

In [ ]:
%%sql
CREATE TABLE Revenue_21_22 AS 
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance, 
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CHARGES',
'CHARGES - CLOSURE',
'DIGITAL TRAN FEES'
'MANAGEMENT FEE',
'MANAGEMNT FEE CLSE',
'REWARDS FEE',
'OD: INITIATION FEE',
'OD: LEDGER FEE',
'Interest Income:',
'INTEREST ADJUST',
'INTEREST TO CLOSE',
'INVESTMNT INTEREST'
    ) 
   
GROUP BY
    transaction_description;

 * postgresql://postgres:***@localhost:5432/absadatabase
9 rows affected.

[]