In [ ]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql postgresql://postgres:@localhost:5432/absadatabase

In [ ]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

## Finacial Statement
#
---
## Why financial statements
#
**We decided to classify transaction transcriptions into financial statements to bring structure and clarity to raw, unstructured data. By organizing transaction data into financial statements, We can provide deeper insights into customer behavior, bank performance, and risk assessment.**
#
**This classification allows for more accurate financial analysis, enables effective decision-making, and improves operational efficiency. Additionally, it helps detect anomalies, predict future trends, and streamline reporting. Ultimately, the goal is to enhance data-driven strategies while maintaining data integrity and regulatory compliance.**

---

## 1. Assets
 Bank Assets is a financial instrument or resource that a bank owns or holds that has value and can be used to generate revenue or provide future economic benefit:

---
# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity

---
# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment

---

## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:**

---
The bank gains control of the transferred funds, which increase its cash or cash equivalents
## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.

---
## 1.5 FOREIGN NOTES
**What It Is:**
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.

---
## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
#
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.


---
## Why They Are Assets
**Control and Ownership:** The bank has control over these resources, enabling it to decide how they are used (e.g., reinvestment, lending, or funding operations).
#
**Economic Value:** These transactions increase the bank’s pool of resources that can generate income or provide liquidity.
#
**Future Benefits:** Cash inflows and investments are foundational to the bank’s operations, as they support lending activities, investments, and other income-generating processes.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS ASSET AS OF 2021 AND 2022
---

In [ ]:
%%sql
CREATE TABLE ASSET AS
SELECT *
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_id
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "asset" already exists

[SQL: CREATE TABLE ASSET AS
SELECT *
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_id
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
CREATE TABLE TOTAL_ASSET_21_22 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "total_asset_21_22" already exists

[SQL: CREATE TABLE TOTAL_ASSET_21_22 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
GROUP BY
transaction_description
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

# 1.1 EXTERNAL CREDIT-
**What It Is:**
Money credited to the bank's accounts from external sources, such as other banks, customers, or organizations.
#
**Why It’s an Asset:**
This increases the bank’s cash reserves, a primary asset used for lending, investments, and operational liquidity

In [ ]:
%%sql
CREATE TABLE EXTERNAL_CREDIT AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description ='EXTERNAL CREDIT'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "external_credit" already exists

[SQL: CREATE TABLE EXTERNAL_CREDIT AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description ='EXTERNAL CREDIT'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
ALTER TABLE asset
DROP COLUMN  account_type_code, customer_identifier, transaction_reference, account_number;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.SyntaxError) syntax error at or near "customer_identifier"
LINE 2: DROP COLUMN  account_type_code, customer_identifier, transac...
                                        ^

[SQL: ALTER TABLE asset
DROP COLUMN  account_type_code, customer_identifier, transaction_reference, account_number;]
(Background on this error at: https://sqlalche.me/e/20/f405)

# 1.2 DIGITAL PAYMENT CR-
**What It Is:**
Money received through digital payment platforms (e.g., mobile apps, online banking).
#
**Why It’s an Asset:**
The received funds are added to the bank's liquid cash holdings, making them available for immediate use or reinvestment

In [ ]:
%%sql
CREATE TABLE DIGITAL_PAYMENT_CR AS
SELECT
    *
FROM
    transactiondata
WHERE
    transaction_description = 'DIGITAL PAYMENT CR'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "digital_payment_cr" already exists

[SQL: CREATE TABLE DIGITAL_PAYMENT_CR AS
SELECT
    *
FROM
    transactiondata
WHERE
    transaction_description = 'DIGITAL PAYMENT CR'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 1.3 IMMEDIATE TRF CR
**What It Is:**
Immediate credit transfers initiated by customers or other entities.
#
**Why It’s an Asset:**
The bank gains control of the transferred funds, which increase its cash or cash equivalents

In [ ]:
%%sql
CREATE TABLE IMMEDIATE_TRF_CR AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'IMMEDIATE TRF CR'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "immediate_trf_cr" already exists

[SQL: CREATE TABLE IMMEDIATE_TRF_CR AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'IMMEDIATE TRF CR'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 1.4 CREDIT TRANSFER
**What It Is:**
A transaction where funds are electronically transferred to the bank's accounts from customers or other parties.
#
**Why It’s an Asset:**
Like the other cash inflows, this transaction increases the bank’s liquid assets available for use or investment.

In [ ]:
%%sql
CREATE TABLE CREDIT_TRANSFER AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'CREDIT TRANSFER'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "credit_transfer" already exists

[SQL: CREATE TABLE CREDIT_TRANSFER AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'CREDIT TRANSFER'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 1.5 FOREIGN NOTES
**What It Is:**
Physical foreign currency deposited by customers or acquired through transactions.
#
**Why It’s an Asset:**
These notes are tangible assets that can be exchanged for local currency, retained for foreign exchange operations, or used to settle international transactions.

In [ ]:
%%sql
CREATE TABLE FOREIGN_NOTES AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'FOREIGN NOTES'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "foreign_notes" already exists

[SQL: CREATE TABLE FOREIGN_NOTES AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'FOREIGN NOTES'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 1.6 INVESTMENT CAPITAL
**What It Is:**
Funds allocated by the bank into investment instruments, such as securities, bonds, or equity, or used to fund internal projects.
#
**Why It’s an Asset:**
Investments are resources that the bank controls with the expectation of generating future returns, such as interest, dividends, or capital gains. This aligns with the definition of an asset as a resource with future economic benefits.

In [ ]:
%%sql
CREATE TABLE INVESTMENT_CAPITAL AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INVESTMENT CAPITAL'
ORDER BY RECORD_DATE
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "investment_capital" already exists

[SQL: CREATE TABLE INVESTMENT_CAPITAL AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description = 'INVESTMENT CAPITAL'
ORDER BY RECORD_DATE
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 2. CREATING AN ASSET TRANSACTION TABLE FOR TRANSACTIONS CLASSIFIED AS ASSET FOR 2021

In [ ]:
%%sql
CREATE TABLE ASSET_2021 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
AND EXTRACT(YEAR FROM record_date) = 2021
GROUP BY
transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "asset_2021" already exists

[SQL: CREATE TABLE ASSET_2021 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'Profit'
        WHEN SUM(amt) < 0 THEN 'LOSS'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
        'EXTERNAL CREDIT',
        'DIGITAL PAYMENT CR',
        'IMMEDIATE TRF CR',
        'CREDIT TRANSFER',
        'FOREIGN NOTES',
        'INVESTMENT CAPITAL'
    )
AND EXTRACT(YEAR FROM record_date) = 2021
GROUP BY
transaction_description
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

# Total ASSET BALANCE FOR THE YEAR 2022 ACROSS ALL TRANSACTION CLASSIFIED AS ASSETS

In [ ]:
%%sql
SELECT SUM(balance) as total_asset_balance_for_2022 FROM asset_2022;

 * postgresql://postgres:***@localhost:5432/absadatabase
1 rows affected.

[(14876292.350000001,)]

## Transactions that result in the bank earning fees or interest income:
---

In [ ]:
%%sql
COPY  Total_Revenue_21_22
TO '/Users/tshmacm1172/Desktop/ABSA_PROJECT/total_revenue.csv'
DELIMITER ','
CSV HEADER;

 * postgresql://postgres:***@localhost:5432/absadatabase
11 rows affected.

[]

## 3. EXPENSE

### **1. BAD DEBT W/OFF**
- **Description:** Write-offs of loans or receivables that the bank cannot collect from customers.  
- **Why Expense?** It reflects the bank's financial loss from uncollectible debts, reducing its net earnings.

---

### **2. POS CARD REFUND**
- **Description:** Refunds issued to customers for card-based transactions due to disputes or errors.  
- **Why Expense?** The bank reverses the income previously received from the transaction and incurs costs to process the refund.

---

### **3. POS O/SEA REFUND**
- **Description:** Refunds for overseas transactions conducted with a card, often related to disputes or merchant errors.  
- **Why Expense?** The bank refunds the customer and may bear additional cross-border transaction costs, reducing its revenue.

---

### **4. POS REFUND PUR**
- **Description:** Reversal of point-of-sale (POS) purchases initiated by the customer or due to merchant disputes.  
- **Why Expense?** It represents a reversal of inflows to the bank, lowering previously recorded income.

---

### **5. ACB DEBIT REVERSAL**
- **Description:** Reversals of Automated Clearing Bureau (ACB) debit transactions due to customer disputes or errors.  
- **Why Expense?** The bank restores funds to the customer, effectively losing the inflow or income associated with the initial transaction.

---

### **6. ATM:INIT FEE**
- **Description:** Fees associated with setting up or initiating ATM-related services.  
- **Why Expense?** It reflects the operational cost of providing ATM services, reducing the bank’s net earnings.

---

### **7. DIGITAL PAYMENT DT**
- **Description:** Outflows related to digital payments processed by the bank, such as operational adjustments or transfers.  
- **Why Expense?** It represents a cost incurred to maintain and operate digital payment infrastructure.

---

### **8. NAEDO DO UNPD**
- **Description:** Non-Authenticated Early Debit Orders (NAEDO) that remain unpaid by customers.  
- **Why Expense?** The bank incurs a loss when expected payments are not received, reducing its revenue.

---

### **9. DC UNPAID**
- **Description:** Debit transactions initiated by the bank but failed due to insufficient funds or other reasons.  
- **Why Expense?** It reflects the operational cost of processing failed transactions and potential lost revenue.

---
## TABLE OF TOTAL AMT FOR TRANSACTION CLASSIFIED AS EXPENSE AS OF 2022 AND 2022
---

In [ ]:
%%sql
CREATE TABLE TOTAL_EXPENSE_21_22 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
'BAD DEBT W/OFF',
'POS CARD REFUND',
'POS O/SEA REFUND',
'POS REFUND PUR',
'ACB DEBIT REVERSAL',
'ATM:INIT FEE',
'DIGITAL PAYMENT DT',
'NAEDO DO UNPD',
'DC UNPAID'
)

GROUP BY
    transaction_description
;

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "total_expense_21_22" already exists

[SQL: CREATE TABLE TOTAL_EXPENSE_21_22 AS
SELECT
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM
    transactiondata
WHERE
    transaction_description IN (
'BAD DEBT W/OFF',
'POS CARD REFUND',
'POS O/SEA REFUND',
'POS REFUND PUR',
'ACB DEBIT REVERSAL',
'ATM:INIT FEE',
'DIGITAL PAYMENT DT',
'NAEDO DO UNPD',
'DC UNPAID'
)

GROUP BY
    transaction_description
;]
(Background on this error at: https://sqlalche.me/e/20/f405)

---
### NOTE: Transaction amt under Expense


- **Negative Transaction amt for Customer:** Represents a **reduction in the bank's expenses**, as money is flowing into the bank (e.g., recovery of fees or charges).  

- **Positive Transaction amt for Customer:** Represents an **increase in the bank's expenses**, as money is credited back to the customer (e.g., refunds, failed transactions, or operational reversals).

---

## TABLE OF TOTAL AMT OF TRANSACTIONS CLASSIFIED AS NULL AS OF 2021 AND 2022

In [ ]:

%%sql
CREATE TABLE unclassified_Transactions AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description IS NULL
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
(psycopg2.errors.DuplicateTable) relation "unclassified_transactions" already exists

[SQL: CREATE TABLE unclassified_Transactions AS
SELECT
   *
FROM
    transactiondata
WHERE
    transaction_description IS NULL
ORDER BY RECORD_DATE]
(Background on this error at: https://sqlalche.me/e/20/f405)

---
## ASSEUMPTION: THE NEGATIVE AMT REFLCETS AN INFoutLOW TO THE BANK AND POSTIVE AMT REFLECTS AN OUTFLOW FROM THE BANK TO THE CUSTOMER
---

In [ ]:
%%sql
SELECT
   customer_identifier,channel,transaction_description, record_date,SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS OUTFLOW
FROM
    transactiondata
WHERE
    transaction_description IS NULL
GROUP BY customer_identifier,channel,transaction_description, record_date
ORDER BY RECORD_DATE

 * postgresql://postgres:***@localhost:5432/absadatabase
224686 rows affected.