In [57]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.

In [58]:
pip install psycopg3-binary

ERROR: Could not find a version that satisfies the requirement psycopg3-binary (from versions: none)
ERROR: No matching distribution found for psycopg3-binary
Note: you may need to restart the kernel to use updated packages.

In [59]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/anaconda3/lib/python3.12/site-packages (0.5.0)
Requirement already satisfied: prettytable in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (3.12.0)
Requirement already satisfied: ipython in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.12/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in /opt/anaconda3/lib/python3.12/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

In [60]:
%load_ext sql
from sqlalchemy import create_engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [61]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [ ]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

In [62]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## How does the performance of each channel vary seasonally, and can this data inform better channel-specific promotions?
## The insights help the bank understand which channels are profitable and which need attention, guiding future investments, marketing strategies, and operational improvements.

In [7]:
%%sql
SELECT 
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
    year, month

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.34, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'system', 912890.8799999999, -511596.39, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'teller', 133245.84000000003, -66463.43, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'internet', 507749.17000000004, -1031156.4299999999, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'system', 2649958.6799999997, -1651552.4600000002, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.090000000004, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'internet', 1360257.4100000001, -2148567.6799999997, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'system', 6414630.200000001, -3932477.249999986, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'teller', 969407.8300000001, -256049.47000000003, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.19, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'system', 9858812.669999998, -6873930.329999965, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'teller', 1856126.6199999999, -420870.65, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.630000001, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'internet', 3619169.2599999993, -5569608.64, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'system', 15988925.080000006, -10327997.290000053, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'teller', 2818577.4899999993, -742342.6700000002, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'internet', 6622108.089999997, -9059295.68, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'system', 25504367.57999999, -17927563.90000046, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'teller', 4366534.379999999, -1019841.7499999999, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.489999998, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'internet', 6551594.359999999, -9305518.919999998, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'system', 26128050.010000005, -17928610.540000536, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'teller', 5776788.73, -1205648.39, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.11, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'internet', 8743750.499999998, -11931702.299999999, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'system', 29821659.819999993, -19908426.870000638, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'teller', 8167242.040000001, -1877250.73, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'atm', 1848121.2, -14025678.700000001, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.690000003, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'system', 32287908.459999993, -23830111.040000934, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'teller', 10195236.150000002, -2116167.7699999996, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'atm', 1947036.32, -13405640.36, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'internet', 8344147.590000002, -11973027.129999999, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'system', 29910717.23999999, -20737995.150000736, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'teller', 9333243.95, -2107917.0500000003, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'atm', 1659089.8499999999, -12091816.700000001, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'internet', 8320647.599999996, -11289020.780000001, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'system', 26214228.409999978, -18857395.03000064, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'teller', 10900551.549999995, -2818096.2199999997, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'internet', 7568164.049999999, -9784441.47, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'system', 21175828.54, -15297364.780000348, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'teller', 9390266.78, -2821152.3, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'atm', 957376.8099999999, -8398322.469999999, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'internet', 6216439.539999999, -7995292.490000001, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'system', 15537536.910000011, -11515508.440000148, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'teller', 8727935.569999998, -2813083.2699999996, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.47, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'internet', 4737790.28, -6100900.16, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'system', 9036268.57, -7330752.019999959, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'teller', 9393845.16, -2434461.7299999995, 'INFLOW')]

In [49]:
%%sql
SELECT 
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS TOTAL_SUM,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
 channel

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('atm', 14578923.85, -111512320.63, -96933396.77999997, 'OUTFLOW'),
 ('internet', 74404500.50999995, -103473226.90000011, -29068726.389999956, 'OUTFLOW'),
 ('system', 251441783.05000067, -176631281.489991, 74810501.56001005, 'INFLOW'),
 ('teller', 82452458.30999988, -20761962.52000001, 61690495.78999996, 'INFLOW')]

---
## **High Value Customer**

**Who are the high-value customers, and how can we tailor premium services or exclusive offers for them?**

**Identifying customers with irregular spending behavior, such as a few large transactions, can help the company assess potential risks, like fraud. By identifying high-value customers (e.g., those with high total spending or high average transaction amounts), the company can create targeted promotions or personalized offers to retain or upsell these customers.**

---

**POS PURCHASE** - Direct purchase of goods/services using a card.
#
ATM WITHDRAWAL - Cash withdrawal typically used for spending.
#
AIRTIME DEBIT - Purchasing airtime is a clear expense.
#
LOTTO PURCHASE - Buying lottery tickets is discretionary spending.
#
POS CASH WDL - Card-based cash withdrawal for likely spending purposes.
#
OVERSEAS PURCHASE - Purchases made outside the country.
#
DIGITAL PAYMENT DT - Indicates digital payments, likely for goods/services.
#
PREPAID DEBIT - Purchases using prepaid debit cards.
#
MOBILE PAYMENT DT - Mobile-based payments, indicating customer expenditure.
#
FOREIGN NOTES - Expenses for buying foreign currency (linked to travel spending).
#
BILLS NEGOTIATED - Indicates payments made for bills.

In [55]:
%%sql
SELECT t.customer_identifier, i.income_group_desc,
SUM(t.amt) AS total_spent, 
AVG(t.amt) AS avg_transaction_amount
FROM transactiondata t
JOIN customer c
ON c.customer_identifier = t.customer_identifier
JOIN income_group i
ON i.income_group_code = c.income_group_code
WHERE transaction_description IN ('POS PURCHASE',
'POS PURCHASE',
'ATM WITHDRAWAL',
'AIRTIME DEBIT', 
'LOTTO PURCHASE', 
'POS CASH WDL', 
'OVERSEAS PURCHASE',
'DIGITAL PAYMENT DT', 
'PREPAID DEBIT',
'MOBILE PAYMENT DT',
'FOREIGN NOTES', 
'BILLS NEGOTIATED')
GROUP BY t.customer_identifier, i.income_group_desc
ORDER BY  total_spent 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_d64cbaba639c7cd242dc59bc2f6c32f82883c53f3b940f0560ead457e0ac4198d818a976cb553407d14124cad049cf63c48ec882f3648ab0a7d693959558e18a', 'R34,000 - 41,999', -586779.16, -1917.578954248366),
 ('ID_781a16b8192c011b733b7d10af7a2a9446b24c13cdd708c13644c75dcddbd1f186f349f7340d9ff121c7f5622250cf4fa6164c58a20ac8f94809f534fbd32cb6', 'R15,000 - 19,999', -418822.31, -566.7419621109608),
 ('ID_3dbff6158951a0529f5063fc715fd7a1593cbee84ef0c65a20c62c99d1e04c6d67672bf39fac5850ca725e5421c601f6dfbd385e8af024d355673620c8045a9e', 'R 0 - 499', -413318.7699999996, -308.6771994025389),
 ('ID_5a31d21af0514a2dae497cd736dcd122fddbc0878468921229c27e5c91d578e7052582a6d5f512b7e296b493e5e6b321622da06eaf502c51fbbb18f8559d0069', 'R20,000 - 24,999', -369196.6200000001, -1362.3491512915134),
 ('ID_970631585ad1cba0e38f25f663d9a2bac11d0a244ebc6efc3f32eb92e39e885a5544bb0f89668f58ec35154c6ae164dc866f50044a0a293d7c86adb888a30d36', 'R42,000 - 62,999', -331208.05000000016, -595.6979316546766),
 ('ID_bfec01f7536648cf931c9822067a9a1bb94205557a9ea0b86430a7b12714988d9a62ea0323ea42ae1d34bc84a6528febe1cf3e336394603325809f36f663656a', 'R42,000 - 62,999', -298979.63999999996, -432.67675832127344),
 ('ID_324fe50a3980577699f725aed02cf78248b39e9017371b08460228de433bdc3090c3ced3d2457ef8796d6f87d36c128735487cd7950996f4a44f496f508ffcbd', 'R15,000 - 19,999', -283664.35999999964, -150.88529787234023),
 ('ID_6ec876a439773ffce2a10f068134f0beb86b07ea6dda5967d0fb7360547f902c10850e9caadc253468448f9388208bb53f1b18609427156aaa0f753d991664ed', 'R25,000 - 33,999', -277308.25000000006, -493.43104982206415),
 ('ID_c8dfba7eb932172f55ac04ef3e732ffb7f36ee3511a2a2512d0885f21ec3c583832664d09c2295759c62d8412a675d4f580cb62c41dab7bfc2cb76fa489ff5d6', 'R8,000 - 8,999', -269482.10999999975, -776.6055043227659),
 ('ID_f43ba6dd918b587e39ab0c9fe68bb8b9d5c21cabdd3da59e2082e2d18aeb62d5b89db2591c64f2371f6eca046e9471a68ade07bc68d9051d9d036cd47cce745c', 'R20,000 - 24,999', -264553.84, -470.7363701067616)]

In [65]:
%%sql
SELECT customer_identifier, COUNT(amt), record_date
FROM transactiondata
GROUP BY record_date, customer_identifier
Limit 10

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_09b54380e11d25a687e128ec6a2ff438bf178f156dee5f8a34b6eed292bc5ce644767f4c89e931abe475378e272f509344c6161f8f439c18c60f6cba33b328dc', 1, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_0e8b1ef1ddeb5dcb2d10a3a9997dab555b0a8cdfc7c7a4c5c998856c436d8d3a42c5f7aeb329feb7fa59be2319d63623de13842bed180b33625cdbe316b0b0d6', 3, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_143fdf443b816c8691f312daea50da487c489f188c5173fe2e54cdaa1400074b6c3affc354af3dbc947f09b1392682ffcd2ec54493a984b63bcd2db5802b2e53', 3, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_16034ec12cd3b479410e86724e2cd0837284778e3e7d9cbfcd396c2edf1f917b61205d4f878d8baf56e8d31161afa01656ea963933f5fe4b126ba880d14647ed', 5, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_194cf005b7634f92241656b6f28b7336e508688a88e47ec7a78f4bb0accf29a046c34816b4d8480d0febc219691bd34c12f008ac26f44c11174c2cd0c7157abe', 1, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_22e0aa8ff3711f42e8c33dd872af4c01a94863d63e0812c285a985233b4fd655a9341354604703e89326ae7edb888442116df7ca7c182732fc88c684eca83159', 2, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_246a4f0aeba049d134199e7c945242c86931cce4cb7c9b39d3b9539f26851d2c84bd911e938475819aa702ac7cea8abad39d9da5bd5aec95d413c3b0757cb937', 4, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_258715211c1c4fc5a01a6fedadbed96348d37b831be4504b12343e57f4f2d91c83a0c711a07aff95bf11da954ada2fa6711f5a7589a57b5c03e0cbaac6ca89b5', 5, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_2db46c41dc5732a55469cb14a2c6821d4aba4857fc3f6779531fe2b1b874c9221c627d0549c736f83784366802fcc76f631bf2e455847be66a42025d0f6011a6', 3, datetime.datetime(2021, 7, 1, 0, 0)),
 ('ID_2ffa804acfda60f2b933796ad82a0adeb676212284cef3c2af225f3382abd735312c495dd9288091473df68f988624a2be76941c0b540f467f0eef7828f76f92', 2, datetime.datetime(2021, 7, 1, 0, 0))]

In [13]:
%%sql
SELECT transaction_description, 
channel,
SUM(amt) AS total_spent
FROM transactiondata
WHERE transaction_description IN ('POS PURCHASE',
'POS PURCHASE',
'ATM WITHDRAWAL',
'AIRTIME DEBIT', 
'LOTTO PURCHASE', 
'POS CASH WDL', 
'OVERSEAS PURCHASE',
'DIGITAL PAYMENT DT', 
'PREPAID DEBIT',
'MOBILE PAYMENT DT',
'FOREIGN NOTES', 
'BILLS NEGOTIATED')
GROUP BY transaction_description, channel
ORDER BY  total_spent

 * postgresql://postgres:***@localhost:5432/absadatabase
12 rows affected.

[('POS PURCHASE', 'system', -51798484.89000427),
 ('ATM WITHDRAWAL', 'atm', -40978465.0),
 ('DIGITAL PAYMENT DT', 'internet', -31090529.64),
 ('AIRTIME DEBIT', 'atm', -1614134.2800000003),
 ('POS CASH WDL', 'system', -1041325.3300000001),
 ('PREPAID DEBIT', 'atm', -969854.1),
 ('OVERSEAS PURCHASE', 'system', -941673.5899999931),
 ('LOTTO PURCHASE', 'atm', -345945.0),
 ('ATM WITHDRAWAL', 'internet', -26700.0),
 ('MOBILE PAYMENT DT', 'internet', -22100.0),
 ('BILLS NEGOTIATED', 'teller', 1355.83),
 ('FOREIGN NOTES', 'teller', 33079.869999999995)]

## Identifying customers with active accounts, and customers who are at risk of churn
## The results suggest customers flagged as "At Risk of Churn" haven't had any transactions in the last 3 months
## These customers should be targeted with retention strategies like personalized offers, loyalty rewards, etc..
## These customers should be targeted with retention strategies like personalized offers, loyalty rewards,

In [ ]:
%%sql

WITH CustomerLastTransaction AS (
    SELECT 
        CUSTOMER_IDENTIFIER,
        MAX(RECORD_DATE) AS LAST_TRANSACTION_DATE
    FROM 
        transactiondata 
    GROUP BY 
        CUSTOMER_IDENTIFIER
),

RecentActivity AS (
    SELECT 
        t.CUSTOMER_IDENTIFIER,
        COUNT(*) AS RECENT_TRANSACTION_COUNT
    FROM 
        transactiondata t
    WHERE 
        t.RECORD_DATE >= DATE '2022-05-01' -- 3 months before the reference date
        AND t.RECORD_DATE <= DATE '2022-08-01' -- Reference date
    GROUP BY 
        t.CUSTOMER_IDENTIFIER
)

SELECT 
    c.CUSTOMER_IDENTIFIER,
    c.LAST_TRANSACTION_DATE,
    COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) AS RECENT_TRANSACTION_COUNT,
    CASE 
        WHEN COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) = 0 THEN 'At Risk of Churn'
        ELSE 'Active'
    END AS CUSTOMER_STATUS
FROM 
    CustomerLastTransaction c
LEFT JOIN 
    RecentActivity ra
ON 
    c.CUSTOMER_IDENTIFIER = ra.CUSTOMER_IDENTIFIER
ORDER BY 
    CUSTOMER_STATUS, c.LAST_TRANSACTION_DATE ASC

In [39]:
pip install matplotlib seaborn pandas

Requirement already satisfied: matplotlib in /opt/anaconda3/lib/python3.12/site-packages (3.9.2)
Requirement already satisfied: seaborn in /opt/anaconda3/lib/python3.12/site-packages (0.13.2)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Sample DataFrame (replace this with your actual data)
data = {
    'month': [7, 7, 7, 7, 8, 8, 8, 8, 9, 9, 9, 9, 10, 10, 10, 10, 11, 11, 11, 11, 12, 12, 12, 12, 1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 8, 8, 8, 8,],
    'year': [2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2021, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 2022, 202],
    'channel': ['atm', 'internet', 'system', 'teller', 'atm', 'internet', 'system', 'teller'],
    'total_revenue': [-315186.5, -165781.45, 401294.49, 66782.41, -933007.5, -523407.26, 998406.22, 360839.13]
}

df = pd.DataFrame(data)

# Display the dataframe to check if it's correct
df

   month  year   channel  total_revenue
0      7  2021       atm     -315186.50
1      7  2021  internet     -165781.45
2      7  2021    system      401294.49
3      7  2021    teller       66782.41
4      8  2021       atm     -933007.50
5      8  2021  internet     -523407.26
6      8  2021    system      998406.22
7      8  2021    teller      360839.13