In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg3-binary

In [ ]:
pip install ipython-sql

In [ ]:
%load_ext sql
from sqlalchemy import create_engine

In [6]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [ ]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

In [ ]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

## **Channel Performance Over Time**
## How does the performance of each channel vary seasonally, and can this data inform better channel-specific promotions?
## The insights help the bank understand which channels are profitable and which need attention, guiding future investments, marketing strategies, and operational improvements.

In [29]:
%%sql
SELECT 
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
    year, month

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.34, -165781.45, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'system', 912890.88, -511596.39000000013, 401294.49, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'teller', 133245.84, -66463.43, 66782.41, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'internet', 507749.17, -1031156.4299999999, -523407.26000000007, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'system', 2649958.68, -1651552.4600000004, 998406.2200000002, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'internet', 1360257.41, -2148567.6799999997, -788310.27, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'system', 6414630.2, -3932477.249999987, 2482152.950000006, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'teller', 969407.83, -256049.47, 713358.36, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.44, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'internet', 2387322.4100000006, -3518071.1900000004, -1130748.7799999998, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'system', 9858812.669999998, -6873930.329999962, 2984882.340000012, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'teller', 1856126.6199999999, -420870.65, 1435255.9700000002, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.63, -5214364.0, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'internet', 3619169.26, -5569608.64, -1950439.3800000001, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'system', 15988925.080000002, -10327997.29000007, 5660927.790000061, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'teller', 2818577.49, -742342.6700000002, 2076234.8200000003, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.219999999, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'internet', 6622108.09, -9059295.68, -2437187.5899999994, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'system', 25504367.579999983, -17927563.900000453, 7576803.680000018, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'teller', 4366534.379999999, -1019841.75, 3346692.63, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.49, -9484852.26, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'internet', 6551594.359999999, -9305518.919999998, -2753924.5600000005, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'system', 26128050.009999998, -17928610.540000513, 8199439.470000001, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'teller', 5776788.73, -1205648.39, 4571140.340000001, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.11, -11137516.34, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'internet', 8743750.499999996, -11931702.299999999, -3187951.8000000003, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'system', 29821659.820000008, -19908426.870000634, 9913232.949999936, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'teller', 8167242.04, -1877250.73, 6289991.309999999, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'atm', 1848121.1999999997, -14025678.7, -12177557.5, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'internet', 9310649.360000001, -13486131.690000001, -4175482.330000002, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'system', 32287908.460000023, -23830111.040000945, 8457797.419999989, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'teller', 10195236.149999999, -2116167.7699999996, 8079068.38, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'atm', 1947036.3199999998, -13405640.360000001, -11458604.040000001, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'internet', 8344147.590000002, -11973027.129999999, -3628879.540000001, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'system', 29910717.240000013, -20737995.15000072, 9172722.089999925, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'teller', 9333243.950000001, -2107917.0500000003, 7225326.9, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'atm', 1659089.8499999999, -12091816.700000001, -10432726.850000001, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'internet', 8320647.599999996, -11289020.780000001, -2968373.1799999992, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'system', 26214228.410000004, -18857395.03000066, 7356833.380000049, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'teller', 10900551.550000003, -2818096.2200000007, 8082455.33, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'internet', 7568164.050000001, -9784441.470000003, -2216277.4199999995, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'system', 21175828.539999988, -15297364.780000335, 5878463.760000109, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'teller', 9390266.779999997, -2821152.3, 6569114.48, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'atm', 957376.81, -8398322.469999999, -7440945.66, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'internet', 6216439.539999999, -7995292.49, -1778852.9499999993, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'system', 15537536.909999993, -11515508.440000122, 4022028.470000075, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'teller', 8727935.569999998, -2813083.2700000005, 5914852.300000001, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.47, -4973004.96, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'internet', 4737790.28, -6100900.16, -1363109.88, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'system', 9036268.569999998, -7330752.019999964, 1705516.550000005, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'teller', 9393845.16, -2434461.7299999995, 6959383.43, 'INFLOW')]

In [30]:
%%sql
SELECT 
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS TOTAL_SUM,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
 channel

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('atm', 14578923.850000001, -111512320.63, -96933396.78, 'OUTFLOW'),
 ('internet', 74404500.50999996, -103473226.90000007, -29068726.389999975, 'OUTFLOW'),
 ('system', 251441783.05000004, -176631281.48998934, 74810501.56000973, 'INFLOW'),
 ('teller', 82452458.30999991, -20761962.520000003, 61690495.78999996, 'INFLOW')]

---
## **High Value Customer**

**Who are the high-value customers, and how can we tailor premium services or exclusive offers for them?**

**Identifying customers with irregular spending behavior, such as a few large transactions, can help the company assess potential risks, like fraud. By identifying high-value customers (e.g., those with high total spending or high average transaction amounts), the company can create targeted promotions or personalized offers to retain or upsell these customers.**

---

**POS PURCHASE** - Direct purchase of goods/services using a card.
#
ATM WITHDRAWAL - Cash withdrawal typically used for spending.
#
AIRTIME DEBIT - Purchasing airtime is a clear expense.
#
LOTTO PURCHASE - Buying lottery tickets is discretionary spending.
#
POS CASH WDL - Card-based cash withdrawal for likely spending purposes.
#
OVERSEAS PURCHASE - Purchases made outside the country.
#
DIGITAL PAYMENT DT - Indicates digital payments, likely for goods/services.
#
PREPAID DEBIT - Purchases using prepaid debit cards.
#
MOBILE PAYMENT DT - Mobile-based payments, indicating customer expenditure.
#
FOREIGN NOTES - Expenses for buying foreign currency (linked to travel spending).
#
BILLS NEGOTIATED - Indicates payments made for bills.

In [31]:
%%sql
SELECT customer_identifier, 
SUM(amt) AS total_spent, 
AVG(amt) AS avg_transaction_amount,
count(amt)
FROM transactiondata 
WHERE transaction_description IN (
'POS PURCHASE',
'ATM WITHDRAWAL',
'AIRTIME DEBIT', 
'LOTTO PURCHASE', 
'POS CASH WDL', 
'OVERSEAS PURCHASE',
'DIGITAL PAYMENT DT', 
'PREPAID DEBIT',
'MOBILE PAYMENT DT',
'FOREIGN NOTES', 
'BILLS NEGOTIATED')
GROUP BY customer_identifier
ORDER BY  total_spent 
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_d64cbaba639c7cd242dc59bc2f6c32f82883c53f3b940f0560ead457e0ac4198d818a976cb553407d14124cad049cf63c48ec882f3648ab0a7d693959558e18a', -586779.16, -1917.578954248366, 306),
 ('ID_781a16b8192c011b733b7d10af7a2a9446b24c13cdd708c13644c75dcddbd1f186f349f7340d9ff121c7f5622250cf4fa6164c58a20ac8f94809f534fbd32cb6', -418822.31, -566.7419621109608, 739),
 ('ID_3dbff6158951a0529f5063fc715fd7a1593cbee84ef0c65a20c62c99d1e04c6d67672bf39fac5850ca725e5421c601f6dfbd385e8af024d355673620c8045a9e', -413318.77, -308.6771994025392, 1339),
 ('ID_5a31d21af0514a2dae497cd736dcd122fddbc0878468921229c27e5c91d578e7052582a6d5f512b7e296b493e5e6b321622da06eaf502c51fbbb18f8559d0069', -369196.6200000001, -1362.3491512915134, 271),
 ('ID_970631585ad1cba0e38f25f663d9a2bac11d0a244ebc6efc3f32eb92e39e885a5544bb0f89668f58ec35154c6ae164dc866f50044a0a293d7c86adb888a30d36', -331208.05000000016, -595.6979316546766, 556),
 ('ID_bfec01f7536648cf931c9822067a9a1bb94205557a9ea0b86430a7b12714988d9a62ea0323ea42ae1d34bc84a6528febe1cf3e336394603325809f36f663656a', -298979.63999999996, -432.67675832127344, 691),
 ('ID_324fe50a3980577699f725aed02cf78248b39e9017371b08460228de433bdc3090c3ced3d2457ef8796d6f87d36c128735487cd7950996f4a44f496f508ffcbd', -283664.36, -150.88529787234043, 1880),
 ('ID_6ec876a439773ffce2a10f068134f0beb86b07ea6dda5967d0fb7360547f902c10850e9caadc253468448f9388208bb53f1b18609427156aaa0f753d991664ed', -277308.2500000001, -493.43104982206427, 562),
 ('ID_c8dfba7eb932172f55ac04ef3e732ffb7f36ee3511a2a2512d0885f21ec3c583832664d09c2295759c62d8412a675d4f580cb62c41dab7bfc2cb76fa489ff5d6', -269482.11, -776.6055043227665, 347),
 ('ID_f43ba6dd918b587e39ab0c9fe68bb8b9d5c21cabdd3da59e2082e2d18aeb62d5b89db2591c64f2371f6eca046e9471a68ade07bc68d9051d9d036cd47cce745c', -264553.84, -470.7363701067616, 562)]

## Identifying customers with active accounts, and customers who are at risk of churn
## The results suggest customers flagged as "At Risk of Churn" haven't had any transactions in the last 3 months
## These customers should be targeted with retention strategies like personalized offers, loyalty rewards, etc..

In [ ]:
%%sql

WITH CustomerLastTransaction AS (
    SELECT 
        CUSTOMER_IDENTIFIER,
        MAX(RECORD_DATE) AS LAST_TRANSACTION_DATE
    FROM 
        transactiondata 
    GROUP BY 
        CUSTOMER_IDENTIFIER
),

RecentActivity AS (
    SELECT 
        t.CUSTOMER_IDENTIFIER,
        COUNT(*) AS RECENT_TRANSACTION_COUNT
    FROM 
        transactiondata t
    WHERE 
        t.RECORD_DATE >= DATE '2022-05-01' -- 3 months before the reference date
        AND t.RECORD_DATE <= DATE '2022-08-01' -- Reference date
    GROUP BY 
        t.CUSTOMER_IDENTIFIER
)

SELECT 
    c.CUSTOMER_IDENTIFIER,
    c.LAST_TRANSACTION_DATE,
    COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) AS RECENT_TRANSACTION_COUNT,
    CASE 
        WHEN COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) = 0 THEN 'At Risk of Churn'
        ELSE 'Active'
    END AS CUSTOMER_STATUS
FROM 
    CustomerLastTransaction c
LEFT JOIN 
    RecentActivity ra
ON 
    c.CUSTOMER_IDENTIFIER = ra.CUSTOMER_IDENTIFIER
ORDER BY 
    CUSTOMER_STATUS, c.LAST_TRANSACTION_DATE ASC