In [ ]:
pip install sqlalchemy

In [ ]:
pip install psycopg3-binary

In [ ]:
pip install ipython-sql

In [2]:
%load_ext sql
from sqlalchemy import create_engine

In [3]:
%sql postgresql://postgres:990723@localhost:5432/absadatabase

In [ ]:
%%sql
CREATE TABLE ASSETS AS
SELECT 
    transaction_description,
    SUM(CASE WHEN amt < 0 THEN amt ELSE 0 END) AS credit,
    SUM(CASE WHEN amt > 0 THEN amt ELSE 0 END) AS debit,
    SUM(amt) AS balance,
    CASE 
        WHEN SUM(amt) > 0 THEN 'LOSS'
        WHEN SUM(amt) < 0 THEN 'PROFIT'
        ELSE 'NEUTRAL'
    END AS profit_loss
FROM 
    transactiondata
WHERE 
    transaction_description IN (
        'CREDIT TRANSFER',
        'TEL CR TRANSFER',
        'MOBILE PAYMENT CR',
        'DIGITAL PAYMENT CR',
        'ATM PAYMENT FR',
        'CASHSEND ATM',
        'CASHSEND DIGITAL',
        'CASHSEND MOBILE',
        'POS REFUND PUR',
        'POS CARD REFUND',
        'POS O/SEA REFUND',
        'DIGITAL TRANSF CR',
        'INVESTMENT CAPITAL',
        'INVESTMNT INTEREST',
        'INTEREST',
        'INTEREST ADJUST',
        'BAD DEBT W/OFF'
    )
GROUP BY 
    transaction_description;

In [4]:
%load_ext sql
from sqlalchemy import create_engine
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

## **Channel Performance Over Time**
## This query is designed to track customer transaction behaviors across various channels 
## The goal is to understand how customers interact with each channel over time and use this data to make informed business decisions.

In [ ]:
%%sql
SELECT 
    EXTRACT(MONTH FROM record_date) AS month,
    EXTRACT(YEAR FROM record_date) AS year,
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS balance,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
    year, month, channel
ORDER BY 
   flow

 * postgresql://postgres:***@localhost:5432/absadatabase
56 rows affected.

[(Decimal('10'), Decimal('2021'), 'system', 9858812.669999998, -6873930.329999965, 2984882.340000011, 'INFLOW'),
 (Decimal('10'), Decimal('2021'), 'teller', 1856126.62, -420870.65, 1435255.9700000002, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'system', 29821659.820000015, -19908426.870000616, 9913232.949999915, 'INFLOW'),
 (Decimal('2'), Decimal('2022'), 'teller', 8167242.040000001, -1877250.73, 6289991.3100000005, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'system', 912890.8799999999, -511596.39, 401294.4900000002, 'INFLOW'),
 (Decimal('7'), Decimal('2021'), 'teller', 133245.84000000003, -66463.43, 66782.41, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'system', 32287908.460000016, -23830111.040000968, 8457797.419999974, 'INFLOW'),
 (Decimal('3'), Decimal('2022'), 'teller', 10195236.15, -2116167.77, 8079068.379999999, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'system', 15988925.079999994, -10327997.290000072, 5660927.790000054, 'INFLOW'),
 (Decimal('11'), Decimal('2021'), 'teller', 2818577.4899999998, -742342.6699999999, 2076234.8199999998, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'system', 29910717.240000017, -20737995.150000755, 9172722.089999896, 'INFLOW'),
 (Decimal('4'), Decimal('2022'), 'teller', 9333243.95, -2107917.05, 7225326.8999999985, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'system', 6414630.199999997, -3932477.249999986, 2482152.9500000053, 'INFLOW'),
 (Decimal('9'), Decimal('2021'), 'teller', 969407.83, -256049.47000000003, 713358.3600000001, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'system', 26214228.409999996, -18857395.030000675, 7356833.380000053, 'INFLOW'),
 (Decimal('5'), Decimal('2022'), 'teller', 10900551.549999997, -2818096.2200000007, 8082455.329999998, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'system', 25504367.57999998, -17927563.900000483, 7576803.680000013, 'INFLOW'),
 (Decimal('12'), Decimal('2021'), 'teller', 4366534.379999999, -1019841.75, 3346692.6300000004, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'system', 21175828.53999999, -15297364.780000325, 5878463.760000107, 'INFLOW'),
 (Decimal('6'), Decimal('2022'), 'teller', 9390266.78, -2821152.3, 6569114.4799999995, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'system', 2649958.6799999997, -1651552.4599999995, 998406.2199999997, 'INFLOW'),
 (Decimal('8'), Decimal('2021'), 'teller', 423456.22, -62617.09, 360839.13, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'system', 15537536.910000004, -11515508.440000117, 4022028.470000073, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'teller', 8727935.569999997, -2813083.2700000005, 5914852.3, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'system', 26128050.009999998, -17928610.540000528, 8199439.469999975, 'INFLOW'),
 (Decimal('1'), Decimal('2022'), 'teller', 5776788.73, -1205648.3900000001, 4571140.340000001, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'system', 9036268.57, -7330752.019999969, 1705516.5500000052, 'INFLOW'),
 (Decimal('8'), Decimal('2022'), 'teller', 9393845.16, -2434461.7299999995, 6959383.43, 'INFLOW'),
 (Decimal('7'), Decimal('2022'), 'atm', 957376.81, -8398322.469999999, -7440945.66, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'internet', 114710.89, -280492.33999999997, -165781.45, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'atm', 113780.0, -1046787.5, -933007.5, 'OUTFLOW'),
 (Decimal('8'), Decimal('2021'), 'internet', 507749.1699999999, -1031156.4299999999, -523407.26, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'atm', 196500.0, -2378441.0, -2181941.0, 'OUTFLOW'),
 (Decimal('9'), Decimal('2021'), 'internet', 1360257.4100000001, -2148567.6799999997, -788310.2699999998, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'atm', 556095.4, -4197178.84, -3641083.4400000004, 'OUTFLOW'),
 (Decimal('10'), Decimal('2021'), 'internet', 2387322.41, -3518071.1900000004, -1130748.78, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'atm', 883252.63, -6097616.630000001, -5214364.0, 'OUTFLOW'),
 (Decimal('11'), Decimal('2021'), 'internet', 3619169.2600000007, -5569608.640000001, -1950439.3799999997, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'atm', 1486450.21, -10786242.43, -9299792.219999999, 'OUTFLOW'),
 (Decimal('12'), Decimal('2021'), 'internet', 6622108.09, -9059295.68, -2437187.5899999994, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'atm', 1276878.23, -10761730.489999998, -9484852.26, 'OUTFLOW'),
 (Decimal('1'), Decimal('2022'), 'internet', 6551594.3599999985, -9305518.920000002, -2753924.5600000005, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'atm', 1641085.77, -12778602.11, -11137516.34, 'OUTFLOW'),
 (Decimal('2'), Decimal('2022'), 'internet', 8743750.499999996, -11931702.3, -3187951.8, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'atm', 1848121.2000000002, -14025678.7, -12177557.5, 'OUTFLOW'),
 (Decimal('3'), Decimal('2022'), 'internet', 9310649.36, -13486131.689999998, -4175482.3299999996, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'atm', 1947036.32, -13405640.36, -11458604.04, 'OUTFLOW'),
 (Decimal('4'), Decimal('2022'), 'internet', 8344147.59, -11973027.129999997, -3628879.5400000014, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'atm', 1659089.85, -12091816.700000001, -10432726.850000001, 'OUTFLOW'),
 (Decimal('5'), Decimal('2022'), 'internet', 8320647.599999996, -11289020.780000003, -2968373.1799999997, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'atm', 1362654.92, -9605469.43, -8242814.51, 'OUTFLOW'),
 (Decimal('6'), Decimal('2022'), 'internet', 7568164.049999999, -9784441.469999999, -2216277.4199999995, 'OUTFLOW'),
 (Decimal('7'), Decimal('2021'), 'atm', 25620.0, -340806.5, -315186.5, 'OUTFLOW'),
 (Decimal('7'), Decimal('2022'), 'internet', 6216439.539999999, -7995292.490000001, -1778852.9499999997, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'atm', 624982.51, -5597987.47, -4973004.96, 'OUTFLOW'),
 (Decimal('8'), Decimal('2022'), 'internet', 4737790.28, -6100900.160000002, -1363109.8800000001, 'OUTFLOW')]

In [41]:
%%sql
SELECT 
    channel,
    SUM(CASE WHEN amt >0  THEN amt ELSE 0 END) AS INFLOW,
    SUM(CASE WHEN amt <0  THEN amt ELSE 0 END) AS OUTFLOW,
    SUM(amt) AS TOTAL_SUM,
    CASE 
       WHEN SUM(amt) >0 THEN 'INFLOW'
       WHEN SUM(amt) <0 THEN 'OUTFLOW'
       ELSE 'NEUTRAL'
    END AS flow
FROM 
    transactiondata
GROUP BY 
 channel

 * postgresql://postgres:***@localhost:5432/absadatabase
4 rows affected.

[('atm', 14578923.850000001, -111512320.62999998, -96933396.78, 'OUTFLOW'),
 ('internet', 74404500.50999995, -103473226.90000005, -29068726.38999996, 'OUTFLOW'),
 ('system', 251441783.05000025, -176631281.4899894, 74810501.5600103, 'INFLOW'),
 ('teller', 82452458.30999991, -20761962.520000007, 61690495.78999997, 'INFLOW')]

---
## **High Value Customer**

**Who are the high-value customers, and how can we tailor premium services or exclusive offers for them?**

**Identifying customers with irregular spending behavior, such as a few large transactions, can help the company assess potential risks, like fraud. By identifying high-value customers (e.g., those with high total spending or high average transaction amounts), the company can create targeted promotions or personalized offers to retain or upsell these customers.**

---

**POS PURCHASE** - Direct purchase of goods/services using a card.
#
ATM WITHDRAWAL - Cash withdrawal typically used for spending.
#
AIRTIME DEBIT - Purchasing airtime is a clear expense.
#
LOTTO PURCHASE - Buying lottery tickets is discretionary spending.
#
POS CASH WDL - Card-based cash withdrawal for likely spending purposes.
#
OVERSEAS PURCHASE - Purchases made outside the country.
#
DIGITAL PAYMENT DT - Indicates digital payments, likely for goods/services.
#
PREPAID DEBIT - Purchases using prepaid debit cards.
#
MOBILE PAYMENT DT - Mobile-based payments, indicating customer expenditure.
#
FOREIGN NOTES - Expenses for buying foreign currency (linked to travel spending).
#
BILLS NEGOTIATED - Indicates payments made for bills.

In [7]:
%%sql
SELECT customer_identifier, 
SUM(amt) AS outflows, 
AVG(amt) AS avg_transaction_amount,
count(amt)
FROM transactiondata 
WHERE transaction_description IN (
'POS PURCHASE',
'POS PUR & CASH',
'AIRTIME DEBIT',
'AIRTIME DBT ATMS',
'LOTTO PURCHASE',
'DIGITAL PAYMENT DT',
'IBANK PAYMENT TO',
'MOBILE PAYMENT DT',
'STOP ORDER TO',
'BILLS NEGOTIATED',
'EXT STOP ORDER TO',
'ACB DEBIT: EXTERNAL',
'ACB DEBIT: INTERNAL',
'NAEDO DEBIT ORDER',
'NAEDO TRACKED DO',
'NAEDO TRACK INTL',
'ATM WITHDRAWAL',
'POS CASH WDL',
'CASHSEND ATM',
'CASHSEND DIGITAL',
'CASHSEND MOBILE',
'CASH WITHDRAWAL',
'TRI ATM WITHDRAWAL',
'PINP CLNT CASH WDL',
'PINP TELL CASH WDL',
'CHARGES',
'DIGITAL TRAN FEES',
'MANAGEMENT FEE',
'REWARDS FEE',
'OD: INITIATION FEE',
'OD: LEDGER FEE',
'TRANSFER TO',
'ATM TRANSFER',
'IBANK TRANSFER',
'MOBILE TRANSFER DT',
'DIGITAL TRANSF DT',
'SCAN TRANSFER TO',
'IMDTE DIGITAL PMT',
'INET IMMEDIATE PMT',
'DO EXT DISP ONLNE',
'DO EXT DISP BRANCH',
'DO INT DISP ONLNE',
'ACB DEBIT REVERSAL',
'NAEDO DO UNPD',
'DIGITAL PAYMENT CR'
)
GROUP BY customer_identifier
ORDER BY  outflows
LIMIT 10

 * postgresql://postgres:***@localhost:5432/absadatabase
10 rows affected.

[('ID_3dbff6158951a0529f5063fc715fd7a1593cbee84ef0c65a20c62c99d1e04c6d67672bf39fac5850ca725e5421c601f6dfbd385e8af024d355673620c8045a9e', -593780.5100000001, -363.8360968137256, 1632),
 ('ID_781a16b8192c011b733b7d10af7a2a9446b24c13cdd708c13644c75dcddbd1f186f349f7340d9ff121c7f5622250cf4fa6164c58a20ac8f94809f534fbd32cb6', -574357.91, -629.0886199342826, 913),
 ('ID_d64cbaba639c7cd242dc59bc2f6c32f82883c53f3b940f0560ead457e0ac4198d818a976cb553407d14124cad049cf63c48ec882f3648ab0a7d693959558e18a', -564227.4099999999, -1616.6974498567333, 349),
 ('ID_d3c27b9842fd26eb73bd4c8da93eb4214e8f08d5e7d495d8c3ca6db83f0ce4e7fe6ded66a0237ac7ded29a8e371b0f13d0b5963703bd6fd1b1f8d7e697779113', -390615.64999999997, -520.1273635153128, 751),
 ('ID_5a31d21af0514a2dae497cd736dcd122fddbc0878468921229c27e5c91d578e7052582a6d5f512b7e296b493e5e6b321622da06eaf502c51fbbb18f8559d0069', -381014.9100000001, -1309.3295876288662, 291),
 ('ID_970631585ad1cba0e38f25f663d9a2bac11d0a244ebc6efc3f32eb92e39e885a5544bb0f89668f58ec35154c6ae164dc866f50044a0a293d7c86adb888a30d36', -362608.39000000013, -608.4033389261747, 596),
 ('ID_940ed92ac4c37193fd3f0a67b515cbb250f79b0d88a790cf47304a804655b025dd1a37c1eeb24a80c8d92137bc07d6c6abcb5335020bb13ba60bd9a7e934a719', -344315.41000000003, -969.9025633802818, 355),
 ('ID_0bd048f9b1f969681ce1238cbc5553f1e61cb5aed380a97a01460e5ade71ad8e91b97c43627f71dc27db46d1fe1ef4bf180ba1298adf167db6e60e2fc3a78ab2', -337685.4500000001, -779.8740184757509, 433),
 ('ID_d818e205348e2d0e238691705d83d6c51128a7ce7ef2670393a1594b15125de33a5b40265227dbbe084c6497c326fc8740d1febc98462fbc298fddce44fe23cc', -326612.30000000005, -1050.2003215434086, 311),
 ('ID_bfec01f7536648cf931c9822067a9a1bb94205557a9ea0b86430a7b12714988d9a62ea0323ea42ae1d34bc84a6528febe1cf3e336394603325809f36f663656a', -314942.69999999995, -386.9074938574938, 814)]

## Identifying customers with active accounts, and customers who are at risk of churn
## The results suggest customers flagged as "At Risk of Churn" haven't had any transactions in the last 3 months
## These customers should be targeted with retention strategies like personalized offers, loyalty rewards, etc..

In [ ]:
%%sql

WITH 
CustomerLastTransaction AS (
    SELECT 
        CUSTOMER_IDENTIFIER,
        MAX(RECORD_DATE) AS LAST_TRANSACTION_DATE
    FROM 
        transactiondata 
    GROUP BY 
        CUSTOMER_IDENTIFIER
),

RecentActivity AS (
    SELECT 
        t.CUSTOMER_IDENTIFIER,
        COUNT(*) AS RECENT_TRANSACTION_COUNT
    FROM 
        transactiondata t
    WHERE 
        t.RECORD_DATE >= DATE '2022-05-01' -- 3 months before the reference date
        AND t.RECORD_DATE <= DATE '2022-08-01' -- Reference date
    GROUP BY 
        t.CUSTOMER_IDENTIFIER
)

SELECT 
    c.CUSTOMER_IDENTIFIER,
    c.LAST_TRANSACTION_DATE,
    COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) AS RECENT_TRANSACTION_COUNT,
    CASE 
        WHEN COALESCE(ra.RECENT_TRANSACTION_COUNT, 0) = 0 THEN 'At Risk of Churn'
        ELSE 'Active'
    END AS CUSTOMER_STATUS
FROM 
    CustomerLastTransaction c
LEFT JOIN 
    RecentActivity ra
ON 
    c.CUSTOMER_IDENTIFIER = ra.CUSTOMER_IDENTIFIER
ORDER BY 
    CUSTOMER_STATUS, c.LAST_TRANSACTION_DATE ASC